{% extends "base.html" %}

{% block title %}Budget{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card w-50 mt-3">
        <div class="card-header bg-dark text-white text-center">
            <h4>Manage Your Budget</h4>
        </div>
        <div class="card-body">
            <!-- Форма за избор дали да се показва падащото меню -->
            <form action="/budget" method="GET">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="by_category" id="by_category"
                        value="1" {% if request.args.get('by_category') %}checked{% endif %}
                        onchange="this.form.submit()">
                    <label class="form-check-label" for="by_category">By Category</label>
                </div>
            </form>
            <!-- Форма за задаване на бюджет -->
            <form action="/budget-set" method="POST" class="mt-3">
                {% if request.args.get('by_category') %}
                <div class="mb-3">
                    <label for="category_select" class="form-label">Select Category</label>
                    <select class="form-select form-select-sm" name="category_select" required>
                        <option value="">-- Select a Category --</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="total_budget" class="form-label">Total Budget</label>
                    <input type="number" class="form-control form-control-sm" name="total_budget"
                        placeholder="Enter amount" required>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-sm">Set Budget</button>
                </div>
            </form>

            <!-- Таблица за показване на зададените бюджети по категории -->
            <div class="mt-4">
                <h5>Current Budgets by Category</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Current expense</th>
                            <th>Total budget</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budget in budgets %}
                            <tr>
                                <td>
                                    {% if budget.category_id == 0 %}
                                        All
                                    {% else %}
                                        {{ budget.category.name }}
                                    {% endif %}
                                </td>
                                <td>{{ "%.2f"|format(budget.current_budget) }} {{ default_currency }}</td>
                                <td>{{ "%.2f"|format(budget.total_budget) }} {{ default_currency }}</td>
                                    <td class="text-center">
                                        {% if budget.current_budget > budget.total_budget %}
                                            <h5>⚠️</h5>
                                        {% endif%}
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}