{% extends 'base.html'%}
{% import 'macros.html' as macros %}

{% block title%}Home{% endblock %}

{% block content %}
<!-- Balance Overview -->
<div class="row">
    <div class="col-md-4 text-center">
        <h4 class="text-success">Income: <span id="income">{{ income }}</span></h4>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="text-danger">Expense: <span id="expense">{{ expense }}</span></h4>
    </div>
    <div class="col-md-4 text-center">
        <h4>Balance: <span id="balance">{{ income - expense }}</span></h4>
    </div>
</div>
<br/>


<!-- Transactions Table -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td>
                    {{ macros.home_update(transaction, categories) }}
                    {{ macros.home_delete(transaction) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Add Buttons -->
<div class="d-flex justify-content-end mt-4">
    <button class="btn btn-success me-2" id="add_income" data-bs-toggle="modal" data-bs-target="#add_transaction_modal_income">Add Income</button>
    <button class="btn btn-danger" id="add_expense" data-bs-toggle="modal" data-bs-target="#add_transaction_modal_expense">Add Expense</button>
</div>
</div>

<!-- Modal for Adding Transaction --> 
{{ macros.home_actions("expense", categories, date) }}
{{ macros.home_actions("income", categories, date) }}

{% endblock %}